# This CODEOWNERS file sets the individuals responsible for code in the hardhat-zksync reposiotory

# These users are the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.
* @hardhat-zksync/txfusion

# You can also specify code owners for specific directories or files.
# For example:
# /src/ @developer1 @developer2
# /docs/ @documenter