# This CODEOWNERS file sets the individuals responsible for code in the hardhat-zksync repository.

# These users are the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.

* @matter-labs/external-txfusion-hardhat-team
