name: CI

on:
  push:

jobs:
  zksolc:
    strategy:
      matrix:
        solc: [0.8.16, 0.7.6, 0.4.22]
        node: ["18"]
        os: [ubuntu, macos, windows]
        exclude:
          - solc: 0.4.22
            os: windows

    runs-on: ${{ matrix.os }}-latest

    name: zksolc
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install

      - name: Test zksolc compiler plugin
        run: |
          cd packages/hardhat-zksync-solc
          pnpm test
        env:
          SOLC_VERSION: ${{ matrix.solc }}
          PLATFORM_OS: ${{ matrix.os }}

  zkvyper:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: zkvyper
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install

      - name: Test zkvyper compiler plugin
        run: |
          cd packages/hardhat-zksync-vyper
          pnpm test
        env:
          PLATFORM_OS: ${{ matrix.os }}

  e2e:
    strategy:
      matrix:
        os: [ubuntu]
        node: ["18"]
    name: Run E2E tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - uses: actions/checkout@v3

      - name: Run anvil-zksync
        uses: dutterbutter/anvil-zksync-action@v1.1.0
        with:
          logFilePath: "anvil_zksync.log"

      - name: Run fixture-projects script
        run: |
          cd e2e
          chmod +x run-fixture-projects.sh
          ./run-fixture-projects.sh
        shell: bash

  examples:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: examples
    steps:
      - uses: actions/checkout@v3

      - name: Run anvil-zksync
        uses: dutterbutter/anvil-zksync-action@v1.1.0

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksolc example
        run: |
          cd examples/basic-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test zksolc example with remote origin
        env:
          ZKSOLC_PATH: https://github.com/matter-labs/zksolc-bin/releases/download/v1.5.1/zksolc-linux-amd64-musl-v1.5.1
        run: |
          cd examples/download-with-compiler-origin
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test deploy example
        run: |
          cd examples/deploy-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test node example
        run: |
          cd examples/node-example
           pnpm hardhat compile
           pnpm hardhat test

      - name: Test noninline libraries example
        run: |
          cd examples/noninline-libraries-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync:libraries --private-key-or-index 0x7726827caac94a7f9e1b160f7ea819f172f7b6f9d2a97f992c38edeab82d4110
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test zkvyper example
        run: |
          cd examples/vyper-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test upgradable example
        run: |
          cd examples/upgradable-example
          pnpm hardhat compile
          pnpm hardhat run scripts/deploy-box-beacon.ts 
          pnpm hardhat run scripts/deploy-box-proxy.ts 
          pnpm hardhat run scripts/deploy-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box-beacon.ts 
          pnpm hardhat run scripts/upgrade-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box.ts
          pnpm hardhat run scripts/deploy-box-beacon-factory.ts 
          pnpm hardhat run scripts/deploy-box-proxy-factory.ts 
          pnpm hardhat run scripts/deploy-box-uups-factory.ts 
          pnpm hardhat run scripts/upgrade-box-uups-factory.ts 
          pnpm hardhat run scripts/upgrade-box-beacon-factory.ts 
          pnpm hardhat run scripts/upgrade-box-factory.ts

      - name: Test upgradable example
        run: |
          cd examples/upgradable-example-l1
          pnpm hardhat compile
          pnpm hardhat run scripts/deploy-box-beacon.ts 
          pnpm hardhat run scripts/deploy-box-proxy.ts 
          pnpm hardhat run scripts/deploy-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box-beacon.ts 
          pnpm hardhat run scripts/upgrade-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box.ts

      - name: Test zksync-ethers example
        run: |
          cd examples/zksync-ethers-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

  upgradable:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: upgradable
    steps:
      - uses: actions/checkout@v3

      - name: Run anvil-zksync
        uses: dutterbutter/anvil-zksync-action@v1.1.0

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksync upgradable plugin
        run: |
          cd packages/hardhat-zksync-upgradable
          pnpm test

  verify-vyper:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: verify-vyper
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksync verify vyper plugin
        run: |
          cd packages/hardhat-zksync-verify-vyper
          pnpm test

  verify:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: verify
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksync verify plugin
        run: |
          cd packages/hardhat-zksync-verify
          pnpm test

  deploy:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: deploy
    steps:
      - uses: actions/checkout@v3

      - name: Run anvil-zksync
        uses: dutterbutter/anvil-zksync-action@v1.1.0

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test deploy package
        run: |
          cd packages/hardhat-zksync-deploy
          ls ./node_modules/@matterlabs
          pnpm test

  zksync-ethers:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu]

    runs-on: ${{ matrix.os }}-latest
    name: zksync-ethers
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3

      - name: Run anvil-zksync
        uses: dutterbutter/anvil-zksync-action@v1.1.0

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksync-ethers example
        run: |
          cd packages/hardhat-zksync-ethers
          pnpm test

  node:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu, macos]

    runs-on: ${{ matrix.os }}-latest
    name: node
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test zksync node plugin
        run: |
          cd packages/hardhat-zksync-node
          pnpm test

  telemetry:
    strategy:
      matrix:
        node: ["18"]
        os: [ubuntu, macos]

    runs-on: ${{ matrix.os }}-latest
    name: telemetry
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Test telemetry utils
        run: |
          cd packages/hardhat-zksync-telemetry
          pnpm test
