name: CI

on:
  push:

jobs:
  zksolc:
    strategy:
      matrix:
        solc: [0.8.16, 0.7.6, 0.4.22]
        os: [ubuntu, macos]

    runs-on: ${{ matrix.os }}-latest

    name: zksolc
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install

      - name: Test zksolc compiler plugin
        run: |
          cd packages/hardhat-zksync-solc
          yarn test
        env:
          SOLC_VERSION: ${{ matrix.solc }}

  zkvyper:
    runs-on: ubuntu-latest
    name: zkvyper
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install

      - name: Test zkvyper compiler plugin
        run: |
          cd packages/hardhat-zksync-vyper
          yarn test

  deploy:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test zksolc example
        run: |
          cd examples/basic-example
          yarn hardhat compile
          yarn hardhat deploy-zksync

      #- name: Test node example
      #  run: |
      #    cd examples/node-example
      #    yarn hardhat compile
      #    yarn hardhat test

      - name: Test noninline libraries example
        run: |
          cd examples/noninline-libraries-example
          yarn hardhat compile
          yarn hardhat deploy-zksync:libraries --private-key 0x7726827caac94a7f9e1b160f7ea819f172f7b6f9d2a97f992c38edeab82d4110
          yarn hardhat compile
          yarn hardhat deploy-zksync

      - name: Test zkvyper example
        run: |
          cd examples/vyper-example
          yarn hardhat compile
          yarn hardhat deploy-zksync

      - name: Test upgradable example
        run: |
          cd examples/upgradable-example
          yarn hardhat compile
          yarn hardhat run scripts/deploy-box-beacon.ts 
          yarn hardhat run scripts/deploy-box-proxy.ts 
          yarn hardhat run scripts/deploy-box-uups.ts 
          yarn hardhat run scripts/upgrade-box-beacon.ts 
          yarn hardhat run scripts/upgrade-box-uups.ts 
          yarn hardhat run scripts/upgrade-box.ts 

      - name: Show logs
        if: always()
        run: |
          cat server.log

  chai-matchers:
    runs-on: ubuntu-latest
    name: chai-matchers
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test zksync chai matchers plugin
        run: |
          cd packages/hardhat-zksync-chai-matchers
          yarn test

  upgradable:
    runs-on: ubuntu-latest
    name: upgradable
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test zksync upgradable plugin
        run: |
          cd packages/hardhat-zksync-upgradable
          yarn test
  verify-vyper:
    runs-on: ubuntu-latest
    name: verify-vyper
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Test zksync verify vyper plugin
        run: |
          cd packages/hardhat-zksync-verify-vyper
          yarn test
  verify:
    runs-on: ubuntu-latest
    name: verify
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Test zksync verify plugin
        run: |
          cd packages/hardhat-zksync-verify
          yarn test
  zksync-ethers:
    runs-on: ubuntu-latest
    name: zksync-ethers
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test zksync-ethers example
        run: |
          cd packages/hardhat-zksync-ethers
          yarn test

      - name: Show logs
        if: always()
        run: |
          cat server.log
  node:
    runs-on: ubuntu-latest
    name: node
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: yarn

      - name: Setup environment
        run: |
          yarn install
          yarn build

      - name: Test zksync node plugin
        run: |
          cd packages/hardhat-zksync-node
          yarn test
