name: CI

on:
  push:

jobs:
  examples:
    runs-on: ubuntu-latest
    name: examples
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test zksolc example
        run: |
          cd examples/basic-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync
      
      - name: Test deploy example
        run: |
          cd examples/deploy-example
          pnpm hardhat compile
          pnpm hardhat deploy-zksync

      - name: Test upgradable example
        run: |
          cd examples/upgradable-example
          pnpm hardhat compile
          pnpm hardhat run scripts/deploy-box-beacon.ts 
          pnpm hardhat run scripts/deploy-box-proxy.ts 
          pnpm hardhat run scripts/deploy-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box-beacon.ts 
          pnpm hardhat run scripts/upgrade-box-uups.ts 
          pnpm hardhat run scripts/upgrade-box.ts 
          pnpm hardhat run scripts/deploy-factory-beacon.ts 
          pnpm hardhat run scripts/deploy-factory-proxy.ts 
          pnpm hardhat run scripts/deploy-factory-uups.ts 
          pnpm hardhat run scripts/upgrade-factory-beacon.ts 
          pnpm hardhat run scripts/upgrade-factory-uups.ts 
          pnpm hardhat run scripts/upgrade-factory.ts
          pnpm hardhat run scripts/deploy-box-beacon-factory.ts 
          pnpm hardhat run scripts/deploy-box-proxy-factory.ts 
          pnpm hardhat run scripts/deploy-box-uups-factory.ts 
          pnpm hardhat run scripts/upgrade-box-beacon-factory.ts 
          pnpm hardhat run scripts/upgrade-box-uups-factory.ts 
          pnpm hardhat run scripts/upgrade-box-factory.ts  
      - name: Show logs
        if: always()
        run: |
          cat server.log

  upgradable:
    runs-on: ubuntu-latest
    name: upgradable
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &
      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build
      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done
      - name: Test zksync upgradable plugin
        run: |
          cd packages/hardhat-zksync-upgradable
          pnpm test

  deploy:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: matter-labs/local-setup
          path: local-setup

      - name: Run server
        run: |
          cd local-setup
          ./start.sh &>../server.log &

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: pnpm

      - name: Setup environment
        run: |
          pnpm install
          pnpm build

      - name: Wait until server is up
        run: |
          while ! curl -s -X POST -d '{"jsonrpc":"2.0","method":"net_version","id":1}' -H 'Content-Type: application/json' 0.0.0.0:3050; do sleep 1; done

      - name: Test deploy package
        run: |
          cd packages/hardhat-zksync-deploy
          pnpm test

      - name: Show logs
        if: always()
        run: |
          cat server.log