name: Publish packages to npm

on:
  workflow_dispatch:
    inputs: 
      tag:
        required: true
        type: choice
        description: tag to publish
        default: latest
        options: 
          - latest
          - beta
          - alpha

      package:
        required: true
        type: choice
        description: package to publish
        default: hardhat-zksync-deploy
        options: 
          - hardhat-zksync-deploy
          - hardhat-zksync-solc
          - hardhat-zksync-upgradable
          - hardhat-zksync-vyper
          - hardhat-zksync-verify
          - hardhat-zksync
          - hardhat-zksync-node
          - hardhat-zksync-chai-matchers
          - hardhat-zksync-ethers
          - hardhat-zksync-verify-vyper
          - hardhat-zksync-telemetry

permissions:
  id-token: write  # Required for OIDC
  contents: read
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Setup environment
        run: pnpm install && pnpm build

      - name: Publish
        run: |
          pnpm publish packages/${{inputs.package}} --tag ${{ inputs.tag }} --access=public --provenance
